/*this a document of core css styling for all the webpages.*/
/*this chunk is applied to all elements, CSS reset across browsers*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/*TODO: use JS to slow down scroll time*/
body{
    background-color: rgb(205, 148, 252);
    font-family:"Baskerville,Garamond,Times New Roman,serif";
}
.text_content{
    padding: 5% 10% 0% 10%;
}
h2{
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
} 
h3{
    text-align: center;
    letter-spacing: 6px; 
    font-size: 2rem;
    font-weight: 500;
    padding: 5% 10% 0% 10%
    /*no padding bottom bc image below has padding also*/
}
p{
    font-size: 1rem;
    text-align: justify; /*makes each line same width*/
    line-height: normal;
}
html{
    scroll-behavior: smooth;
}
header{
    position: relative; 
    width: 100%;
    height: 100vh; /*fallback state in case browser doesn't support svh*/
    height: 100svh; /*smallest viewport height, resizes to collapsed viewbar*/
    background-image: url("../media/index_backdrop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /*horizontally and vertically centered */
    color: aliceblue; /*font colour within header*/
  }
.desktop_title{
    display:none;
}
footer{
    padding: 5% 10% 5% 10%;
}
footer h6{ 
    text-align: center;
    font-weight: 400;
    font-size: 2vw;
}
footer img{
    width: 40px;
    display: inline-block;
    vertical-align: top;
}
footer .icons{
    margin-top: 5%;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer #top_button{
    text-align: center;
    color:rgb(119, 32, 206)
}
.banner { /*banner is a child element of header*/
    height: 10vh;
    background-position: 25% 50%;
    background-image: url("../media/small_header_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h3{
    font-size: 10vw;
    letter-spacing: 4px;
    font-weight: 500;
    margin-bottom: 6%;
    color: black;
    text-align: center;
}

.small_header { /*container for smalll_nav*/
    padding: 10%;
    text-align: center;
    color:white;
}
.small_header h3{
    padding-top: 0%;
    padding-bottom: 5%;
}
.small_header hr{
    background-color: black;
    width: 2px;
    border-width: 0;
}
.small_nav{ /* dividers between links*/
    font-size: 6vw;
    box-sizing: border-box;
    display: flex;
    /* don't use grid-template-columns here bc ul are different widths */
    justify-content: space-evenly;
}
.small_nav ul{
    height: 100%; 
    display: inline;
}
.small_nav ul a{
    color: black;
}
#left_rect, #right_rect{ /*used only in desktop version*/
    display: none;
    color: white;
}
 nav a, .small_nav a, footer .icons a{
    text-decoration:none;
}
a:hover{
    color:#e9c2fb; /*fyi this doesn't work in firefox*/
}

/*medium breakpoint for tablets and some iPads*/
@media (min-width: 576px) and (max-width: 767px){
    p {
        font-size: 1.4rem;
    }
    h3{
        font-size: 3rem;
      }
    .small_nav{
        font-size: 2rem;  
    }
    .banner{
        height: 15vh;
    }
    footer h6{
        font-size: 1.2rem;
    }
}

/*formatting for larger iPads*/
@media (min-width: 768px) and (max-width: 1024px){
    p {
        font-size: 1.4rem;
    }
    h3{
        font-size: 3rem;
      }
    .small_nav{
        font-size: 2rem;  
    }
    .banner{
        height: 20vh;
    }
    footer h6{
        font-size: 1.2rem;
    }
}

/*formatting for desktop*/
@media (min-width: 1025px){
    footer #top_button h6{
        font-size: 1.4vw;
    }
    footer{
        height: 20vh;
        margin-bottom: 5% 
      }
    footer h6{
        font-size: 1vw;
    }
    footer .icons{
        width: 130px;
        margin-top: 2%;
    }
    footer img{
        width: 60px;
    }
    .banner {
        margin-top: 0%;
        height: 25vh;
        background-position: 75% 50%;
        background-size: 150%;
        z-index: 0;
    }
    .banner h3{
        font-size: 30vh;
        letter-spacing: 4px;
        font-weight: 500;
        text-align:center;
        padding: 7% 0px; 
        color: black;
        display: none;
    }
    .desktop_title{
        display: block;
        padding: 5%;
    }
    .small_header { /*container for small_nav*/
        height: 25vh;
        padding: 0% 10% 0% 10%;
        text-align: center;
        display: none;
    }
    .small_header hr{
        width: 8px;
        background-color: black;
        border-width: 4px;
    }
    .small_nav{ /* dividers between links*/
        font-size: 2vw;
        box-sizing: border-box;
        display: flex;
        /* don't use grid-template-columns here bc ul are different widths */
        justify-content: space-evenly;
    }
    .small_nav ul{
        height: 100%; 
        display: inline;
    }
    #left_rect{
        position: absolute;
        top: 1%; /*relative of parent header container instead of browser*/
        height: 15%;
        width: 42%;
        background: rgba(52, 21, 21, .4); /*fourth value is alpha or opacity*/
        z-index: 1;
        display: block;
        letter-spacing: 1.5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    #right_rect{
        height: 20%;
        width: 60%;
        position: absolute;
        top: 4%;
        right: 0;
        z-index: 1;
        background: rgba(52, 21, 21, .4); /*fourth value is alpha or opacity*/
        display: block;
        /* display: inline-flex;
        justify-content:left */
    }
    #name{
        font-size: 2.6vw;
        letter-spacing: 10px;
        font-weight: 500;
    }
    #role{
        font-size: 2vw;
        margin-top: 0%;
    }
    .text_content{
        padding-top: 0%;
    }
    nav a{
        text-align: center;
        color: white;
    }
    nav{
        font-size: 1.8vw;
        width: 80%;
        display: grid;
        box-sizing: border-box; /*keeps nav bar width the same*/
        padding: 2% 0% 2% 8%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        text-align: center;
        align-items: center;
    }
    h3{
        font-size: 3vw;
        letter-spacing: 10px; 
        font-weight: 500;
        padding: 0% 10% 5% 10%
    }
    h2{
        font-size: 2.6vw;
        font-weight: 300;
    } 
    iframe{
        width:100%;
        height:65%;
    }
    #mobile_intro{
        display: none;
    }
    #desktop_intro{
        display: visible;
    }
}